@import url('https://fonts.googleapis.com/css2?family=Glory&display=swap');

body{
    font-family: 'Glory', sans-serif;
}
a.nav-link{
    font-weight: 600;
    color: rgb(27, 27, 73) !important;
    text-transform: uppercase;
}
.single-item{
    background-color: darkkhaki;
    padding: 15px;
}
